*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* start banner style */
.banner-section{
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    gap: 97px;
}
.banner-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 200px; */
}
.banner-info{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.banner-title{
    width: 800px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}
.banner-description{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
.btn{
    font-size: 20px;
    padding: 20px 43px;
    background-color: #E55473;
    color: white;
    border-radius: 8px;
    border: none;
}
.btn:hover{
    background-color: rgb(115, 202, 115);
    cursor: pointer;
}
.banner-image{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    /* margin-left: 97px; */
}
/* end banner style */

/* start Hot Deal style */
.hot-deal-section{
    width: 1920px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 350px;
}
.hot-deal-info{
    display: flex;
    width: 600px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
span{
    color: #E55473;;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
/* end Hot Deal style */

/* end instagram style */

.instagram{
    width: 1920px;
    /* height: 4867px; */
    /* background-color: aquamarine; */
}
.instagram-info{
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25PX;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.instagram-description{
    display: flex;
    width: 600px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 48px;
}
.instagram-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 240px;  
    margin-bottom: 128px;
}
.card-img{
    width: 342px;
    height: 400px;
    margin: 0;
}
.all-img{
    width: 342px;
    height: 400px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.all-img:hover{
    cursor: pointer;
}
.instagram-input-bg{
    width: 1440px;
    height: 449px;
    margin: 0 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 128px;
    background-image: url("./Rectangle\ 9.png");
    background-color: aquamarine;
}
.bg-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 122px;
}
.bg-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 48px;
}
.input-text{
    padding: 22px 513px 22px 22px;
    border: none;
}
#input-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.bg-img{
    
}

/* end instagram style */

/* start footer style */
.footer{
    width: 1922px;
    height: 449px;
    background-color: #111010;;
    color: white;
}
.footer-info{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-title{
    color: #E55473;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: 24px;
}
span{
    color: white;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    width: 625px;
    text-align: center;
    font-size: 18px;
    /* margin: 0px 640px; */
    margin-bottom: 32px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    /* padding-bottom: 128px; */
    /* margin-bottom: 128px; */
}
.footer-container{
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 128px; */
}

/* end footer style */